{% extends "layout.html.twig" %} 
{% block titulo %} PEDIDOS **{{accion}}**
 
    <a href="{{path("queryPedido")}}" class="btn btn-success"> 
		<span class="glyphicon glyphicon-th-list"></span> Volver</a>

{% endblock %}

{% block contenido %}
   
    <div class="container">
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endfor %}
    </div>
    <div class="container">
        {{form_start (form,{'action':'','method':'POST'})}}
        {{form_end (form)}}
    </div>

    <div class="clearfix"> </div>
{% endblock %}