{% extends "layout.html.twig" %} 
{% block titulo %}GESTIÓN DE RECIBOS **EXPORTAR EXCEL** 
    <a href="{{path("queryRecibo")}}" class="btn btn-success"
       <span class="glyphicon glyphicon-th-list"></span> Volver </a>
{%endblock%}

{% block contenido %}
    <script>
        $(document).ready(function () {

            $('#appbundle_filtroFecha_rangoFecha').daterangepicker({
                'locale': {'format': 'DD/MM/YYYY',
                    'applyLabel': 'Aplicar',
                    'cancelLabel': 'Cancelar'
                }
            });

            $('#appbundle_filtroFecha_rangoFecha').on('apply.daterangepicker', function (ev, picker) {
                $('#appbundle_filtroFecha_startDate').val(picker.startDate.format('DD/MM/YYYY'));
                $('#appbundle_filtroFecha_endDate').val(picker.endDate.format('DD/MM/YYYY'));

            });

            $('#appbundle_filtroFecha_Guardar').click(function () {
                alert('Guardar');
            });

        });


    </script>

    <div class="container">
        {{form_start (form,{'action':'','method':'POST'})}}
        {{form_errors(form)}}
        <div class="form-row mismalinea"> 
            {{form_row(form.rangoFecha)}}
        </div>
        <div class="form-row mismalinea" >
            {{form_row(form.startDate)}}
        </div>
        <div class="form-row mismalinea">
            {{form_row(form.endDate)}}
        </div>
        <div class="form-row mismalinea">
            {{form_row(form.ejercicio)}}
        </div>
        <div class="form-row mismalinea">
            {{form_row(form.trimestre)}}
        </div>
        <div class="clear-fix"></div>
        <div class="form-row mismalinea"> 
            {{form_row(form.Guardar)}}
        </div>

        {{form_end (form)}}
    </div>

{% endblock %}