{% extends "layout.html.twig" %} 
{% block titulo %}GESTIÓN DE RECIBOS **EXPORTAR EXCEL** 
    <a href="{{path("queryRecibo")}}" class="btn btn-success"
       <span class="glyphicon glyphicon-th-list"></span> Volver </a>
{%endblock%}

{% block contenido %}
    <script>{%include 'recibo/exportar.js' %}</script>
    
    <div class="container">
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endfor %}
        <div class="panel panel-success medio">
            <div class="panel-heading">Selección de Filtro</div>

            <div class="panel-body">
                <h4> <fieldset >
                        <label for="iejercicio">Ejercicio</label>
                        <input class="selec" type="radio" name="radio-1" id="iejercicio">
                        <label for="itrimestre">Trimestre</label>
                        <input class="selec" type="radio" name="radio-1" id="itrimestre">
                        <label for="irango">Rango Fechas</label>
                        <input class="selec" type="radio" name="radio-1" id="irango">
                    </fieldset>
                </h4>
            </div>
        </div>

        <div id='divcontainer' class="panel panel-warning medio2" style="display: none">
            <div class="panel-heading">Selección</div>

            <div class="panel-body">
                <div id="divform" class="container">
                    {{form_start (form,{'action':'','method':'POST'})}}
                    {{form_errors(form)}}
                    <div id="divrango" style="display: none">
                        <div class="form-row mismalinea"> 
                            {{form_row(form.rangoFecha)}}
                        </div>
                    </div>
                    <div id="divejercicio" style="display: none">
                        <div class="form-row mismalinea">
                            {{form_row(form.ejercicio)}}
                        </div>
                    </div>
                    <div id="divtrimestre" style="display: none">
                        <div class="form-row">
                            {{form_row(form.ejercicio2)}}
                        </div>
                        <div class="form-row">
                            {{form_row(form.trimestre)}}
                        </div>
                    </div>
                    <div class="clear-fix"></div>
                    <div id="guardar" class="form-row mismalinea"> 
                        {{form_row(form.Guardar)}}
                        {{form_row(form.startDate)}}
                        {{form_row(form.endDate)}}
                        {{form_end (form)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}